<div class="btn-group pull-right">
  <a ui-sref="movies({ action: 'search' })" ng-class="{'active': $stateParams.action == 'search'}" class="btn btn-default">Search By Title</a>
  <a ui-sref="movies({ action: 'browse' })" ng-class="{'active': $stateParams.action == 'browse'}" class="btn btn-default">Browse By Location</a>
</div>

<h2>Movies</h2>

<div ng-show="$stateParams.action == 'search'">
  <form>
    <div class="form-group">
      <div class="input-group">
        <input class="form-control input-lg btn-lg" type="text" ng-model="query" ng-enter="search(query);" placeholder="Search By Title">
        <span class="input-group-btn">
          <button class="btn btn-primary btn-lg" ng-click="search(query);">Search</button>
        </span>
      </div>
    </div>    
  </form>

  <div ng-show="response.results" ng-hide="selected">
    <p>
      {{response.total_results}} possible match<ng-pluralize count="response.total_results" when="{ '1': '', 'other': 'es' }"></ng-pluralize> found.
    </p>
    <div ng-repeat="result in response.results" class="media">
      <div ng-controller="MoviesImageController" class="pull-left">
        <img ng-src="{{ getPath(result.poster_path) }}" class="img-responsive" />
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{result.title}}</h4>
        <p ng-show="result.release_date">
          Released: <em>{{result.release_date | amDateFormat:'MMMM Do YYYY'}}</em>
        </p>
        <a class="btn btn-sm btn-primary" ui-sref="movies-info({ id: result.id })">
          <span ng-show="!hasMovie(result)">Request Movie</span>
          <span ng-show="hasMovie(result)">More Info</span>
        </a>
        <button type="button" class="btn btn-sm btn-success" ng-show="!hasMovie(result)" ng-click="add(result)">
          Add to My Inventory
        </button>
        <button type="button" class="btn btn-sm btn-danger" ng-show="hasMovie(result)" ng-click="remove(result)">
          Remove from My Inventory
        </button>
      </div>
    </div>
  </div>
  
  <div ng-show="response.total_pages > 1">
    <p>Total Pages: {{response.total_pages}}</p>
    <ul class="pagination">
      <li ng-repeat="i in range(response.total_pages) track by $index" ng-class="{'active': response.page == ($index + 1)}">
        <a ui-sref="movies({ page: $index + 1 })">{{$index + 1}}</a>
      </li>
    </ul>
  </div>
  
</div>

<div ng-show="$stateParams.action == 'browse'">
  <p>Browse by location</p>
</div>